<%= render 'admin_user/admin_header' %>

<%= render 'admin_user/admin_lhs' %>

<div class="rhscontent">

<p id="notice"><%= notice %></p>
	<div id="user-conatiner">
		
		
		<% @offers.each do |offer| %>
		
			
		<div class="rhs-ucontentnew">
    	<%= image_tag(offer.image.url(:small), alt: offer.offer_name, class: 'imgr') %>  
        		<h2><%= offer.offer_name %></h2>
                <p> <%= offer.offer_description %> </p>
                <p>
                	<strong>CPC</strong>: <%= offer.offer_cr_per_click %>&nbsp; 
                	<strong>Max Credits</strong>:<%= offer.offer_budget %>&nbsp;
                	<strong>Country</strong>: 
                		<% if offer.country_id %>
                			<%= Country.getcountryname(offer.country_id).country %>
                		<% else %>
                			offer is world wide	
                		<% end %>	
                </p>
       			<p>
       				<strong>Category</strong>: <%= Category.getcategoryname(offer.category) %>
       				<strong>&nbsp;Duration</strong>: <%= offer.offer_start_date %> - <%= offer.offer_end_date %>        				
       			</p>
        </div>               			        			        				        				        				
		 <div class="butlfta">
			<h2>
				<%
					if offer.offer_status
				%>
						<%= link_to 'Reject Offer', offer, method: :approverejectoffer, data: { confirm: 'Are you sure want to reject this offer?' } %>					
				<%	else
				%>
						 <%= link_to 'Reject Offer','#', :onclick => 'javascript:void(0)' %>
				<%	
					end
				%>
			</h2>
		</div>
		<div class="butlft">
    		<h2>
    			<%
					if offer.offer_status
				%>						
						<%= link_to 'Approve Offer','#', :onclick => 'javascript:void(0)' %>					
				<%	else
				%>
						 <%= link_to 'Approve Offer', offer, method: :approverejectoffer, data: { confirm: 'Are you sure want to approve this offer?' } %>
				<%	
					end
				%>
    		</h2>
		</div>
        	
		<% end %>						   
     
	</div>



</div>
</div>
<%= render 'admin_user/admin_footer' %>
