<!DOCTYPE html>
<html>
<head>
  <title>Cpc</title>
 <%= stylesheet_link_tag    "frontend"  %>
 
  <%= javascript_include_tag "application" %>
  
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<!--  Header start-->
		<div id="header">
			
			<%= link_to image_tag("/assets/front-end-images/logo.png", alt: "CPC Advertising"), '/', :title => 'CPC Advertising' %>

			<div class="headerright">
				<!--  Top serch sec start-->
				<div class="tpsrc">
					<div id="user_nav">				
							<% if current_user %>
						    	Signed in as <strong><%= current_user.username %></strong>!
						    <%= link_to "Sign out", signout_path, id: "sign_out" %>
						<% else %>
							
						
							
							<% if controller.action_name != 'loginPage' %> 
							<div class="tpfrmsec">
								  <% if  flash[:signin_notice] %>
									<div class="error_messages" style="clear: left;">     
								      <ul>
								       <%=  flash[:signin_notice] %>
								      </ul>
								    </div>
							      <% end %>	
															
								<div style="float: left;">
									
										<%= form_tag("/login", :method => "post") do  %>								
									    <%= text_field_tag :email, params[:email],:class => 'headtopinput' %>  								  							
									    <%= password_field_tag :password,'' ,:class => 'headtopinput' %>							
									    <%= submit_tag "Log in",  :class => 'tplogin' %>								
										<% end %>
									
								</div>
							</div>
							
							<% end %>						
						<% end %>
					</div>
				</div>
				<!--  Top menu start-->
				<% if current_user && current_user.member_detail  %>
					<div class="tpmenu">
						<%= #link_to('HOME', '/', :title => 'OFFER') 
						%>
						<%= link_to('PROMOTE OFFERS', '/promoteOffers', :title => 'PROMOTE OFFERS') %>
						<%= link_to('LIST AN OFFER', '/offers/new', :title => 'LIST AN OFFER') %>
						<%= link_to('YOUR OFFERS', '/promoteOffers?qs=myoffer', :title => 'YOUR OFFERS') %>
						Credits:<%= getcredit(session[:user_id]) %>
					</div>
				<% end %>
			</div>
		</div>
		<!--  Header End-->