<div class="lhscontainer">
    <div class="lhs">    
    
    	
    
    		<%= link_to "Settings", :controller => 'members', :action => 'mySettings' %>
    		
        <h6>Sort Offers</h6>
        
        <%        	
	        if  params[:qs] 
	        	@qs = params[:qs]        	
	        end            
        %>
        <ul>
        	<li><a href="#">myOffer</a></li>
        	<li>
        		<%=	link_to "Latest Offers First", :controller =>"offers", :action => "promoteAndSortOffers", :sort_by => "latest" , :qs=>@qs  %>
	        </li>
	        <li>
	        	<%=	link_to "Offers expiring soon", :controller =>"offers", :action => "promoteAndSortOffers", :sort_by => 'expsoon', :qs=>@qs %>
	        </li>
	        <li>
	        	<%=	link_to "Highest Credits Per Click", :controller =>"offers", :action => "promoteAndSortOffers", :sort_by => 'highcpc' , :qs=>@qs %>
	        </li>
	        <li>
	        	<%=	link_to "Max Number of Credits", :controller =>"offers", :action => "promoteAndSortOffers", :sort_by => 'maxnumcredits' , :qs=>@qs %>
	        </li>
	        <li>
	            <a href="#">Categories</a>
	            <ul>
	            	<%
	            		#objOffer = Offer.new
      					@categoryList = Category.new.getAllCategories
	            		@categoryList.each do |category| 
	            	%>
	                	<li>
	                		<%= link_to category.category_name, :controller =>"offers", :action => "promoteAndSortOffers", :sort_by => 'category', :category_id => category.id  , :qs=>@qs %>
	                	</li>
	                <% end %>
	            </ul>
	        </li>
        </ul>               
    </div>
</div>