<div class="mainfrmcontainer">
	<%= render 'home/lhs' %>
	<% if !@offers.empty? %>
		<% @offers.each do |offer| %>
			<div class="rhs">
				<p id="notice"><%= notice %></p>
			    <%= image_tag(offer.image.url(:small), alt: offer.offer_name, class: 'imgr') %>       
			    <h6><%= offer.offer_name %></h6>
			    <p><%= offer.offer_description %></p>
			
			    <p>
			    	<strong>CPC</strong> : 
			    	<%= offer.offer_cr_per_click %> 
			    	<strong> Max Credit</strong> : 
			    	<%= offer.offer_budget %>
			    	<strong>Country</strong> : 
			    	<%= offer.offer_worldwide %>
			    </p>
			    <p>
			    	<strong>Category</strong> : 
			    	Entertainment  
			    	<strong>Duration</strong> : 
			    	24th July 2012 to 30th July 2012&#13;
			    </p>
			    <% if @logged_user_id == offer.member_id %>
				    <p>			    	
				    <%=	link_to "Edit", :controller =>"offers", :action => "edit", :id=>offer.id %>			  
				    </p>
				    <p>
				    	<%=	link_to "View Analytics of Offer", :controller =>"offers", :action => "edit", :id=>offer.id %> |
				    	<%=	link_to "Top Up Offer Budget", :controller =>"offers", :action => "topup1223", :id=>offer.id %> |
				    	<%=	link_to "Stop Offer", :controller =>"offers", :action => "edit", :id=>offer.id %> 
				    </p>
				<% else %>
					<%= link_to "Share This Offer", :controller => 'offers', :action => '#' %>
			    <% end %>
			</div>
		<% end %>
		<%= paginate @offers %>
	<% else %>
		You have not listed any offer yet, <%= link_to('click here', 'offers/new') %> to list an offer!
	<% end %>
</div>