<%= render 'home/header' %>
<div class="mainfrmcontainer">
<h1>Editing offer</h1>
<%= render 'form' %>
</div>
<%= render 'home/footer' %>

<!--
<%= link_to 'Show', @offer %> |
<%= link_to 'Back', offers_path %>
-->