<%= render 'admin_user/admin_header' %>

<%= render 'admin_user/admin_lhs' %>

<div class="rhscontent">

<p id="notice"><%= notice %></p>
	<div id="user-conatiner">
		
		<% if @offers.count == 0 %>
			<h1>No offers found.</h1>
		<% end %>
		<% @offers.each do |offer| %>
		
			
		<div class="rhs-ucontentnew">
    	<%= image_tag(offer.image.url(:small), alt: offer.offer_name, class: 'imgr') %>  
        		<h2><%= offer.offer_name %></h2>
                <p> <%= offer.offer_description %> </p>
                <p>
                	<strong>CPC</strong>: <%= offer.offer_cr_per_click %>&nbsp; 
                	<strong>Max Credits</strong>:<%= offer.offer_budget %>&nbsp;
                	<strong>Country</strong>: 
                		<% if offer.country_id %>
                			<%= Country.getcountryname(offer.country_id).country %>
                		<% else %>
                			offer is world wide	
                		<% end %>	
                </p>
       			<p>
       				<strong>Category</strong>: <%= Category.getcategoryname(offer.category) %>
       				<strong>&nbsp;Duration</strong>: <%= offer.offer_start_date %> - <%= offer.offer_end_date %>        				
       			</p>
        </div>       
        
        <%
        	if  offer.offer_edit_reapprove
        %>        
        		<div class="butlft">
	    			<h2>
	    				<%= link_to 'ReApprove Offer', "/admin/reoffers/#{offer.id}", method: :reapproveoffer, data: { confirm: 'Are you sure want to reapprove this offer?' } %>
	    			</h2>
				</div>        		        
        <%
        	end         
        %>
        <%
        	if offer.offer_status
        %>
        	<div class="butlfta">
					<h2>
						<%= link_to 'Reject Offer', "/admin/offers/#{offer.id}", method: :approverejectoffer, data: { confirm: 'Are you sure want to reject this offer?' } %>
					</h2>
			</div>
        <%
        end
        	if ((offer.offer_status == false) && (offer.offer_edit_reapprove == false))
        %>
        		<div class="butlft">
	    			<h2>
	    				<%= link_to 'Approve Offer', "/admin/offers/#{offer.id}", method: :approverejectoffer, data: { confirm: 'Are you sure want to approve this offer?' } %>
	    			</h2>
				</div>    
        <%
        	end         
        %>
        
                			        			        				        				        				
		 
        	
		<% end %>						   
     
	</div>



</div>
</div>
<%= render 'admin_user/admin_footer' %>
