<%= render 'admin_user/admin_header' %>

<%= render 'admin_user/admin_lhs' %>

<div class="rhscontent">

<p id="notice"><%= notice %></p>
	<div id="user-conatiner">
		
		
		<% @offers.each do |offer| %>
		
			
		<div class="rhs-ucontentnew">
    	<img src="images/img.png" alt="" class="imgl"/>
        		<h2><%= offer.offer_name %></h2>
                <p> <%= offer.offer_description %> </p>
                <p>
                	<strong>CPC</strong>: <%= offer.offer_cr_per_click %>&nbsp; 
                	<strong>Max Credits</strong>:<%= offer.offer_budget %>&nbsp;
                	<strong>Country</strong>: <%= Country.getcountryname(offer.country).country %>
                </p>
       			<p>
       				<strong>Category</strong>: <%= Category.getcategoryname(offer.category) %>
       				<strong>&nbsp;Duration</strong>: <%= offer.offer_start_date %> - <%= offer.offer_end_date %>        				
       			</p>
        </div> 
              			        			        				        				
        				
        				 <div class="butlfta">
        					<h2>
        						<%= link_to 'Reject Offer', offer, method: :approverejectoffer, data: { confirm: 'Are you sure want to reject this offer?' } %>
        						
        					</h2>
        				</div>
        				
        				<div class="butlft">
                    		<h2>
                    			<%= link_to 'Approve Offer', offer, method: :approverejectoffer, data: { confirm: 'Are you sure want to approve this offer?' } %>
                    		</h2>
        				</div>
        				
        			
        				 	
    	  	   	
    	  
        				
        			
                 	                 
                    
		
		
		
		
		
		<% end %>
						   
     
	</div>



</div>
</div>
<%= render 'admin_user/admin_footer' %>
