<%= render 'admin_user/admin_header' %>

<%= render 'admin_user/admin_lhs' %>

<div class="rhscontent">
<h1>Editing category</h1>

<%= render 'form' %>

<!--<%= link_to 'Show', @category %> | -->
<%= link_to 'Back', categories_path %>


</div>
</div>
<%= render 'admin_user/admin_footer' %>