<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">      
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_name %><br />
    <%= f.text_field :category_name %>
  </div>
  <div class="field">
   <%= f.label :status %><br />
   <%= f.radio_button :status, TRUE, :checked => true %>Active
   
   <%= f.radio_button :status, FALSE %>Inactive
   
   
    
    
  </div>
  
  
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
