<%= render 'admin_user/admin_header' %>

<%= render 'admin_user/admin_lhs' %>

<div class="rhscontent">

<h1>New category</h1>

<% if @category.errors.any? %>
    <div class="error_messages">     
      <ul>
        <% for message in @category.errors.full_messages %>
          <li><%= message %></li> 
        <% end %>
      </ul>
    </div>
<% end %>


<%= render 'form' %>
<%=  link_to "Back", {:controller => "categories", :action => "index"} %>

</div>



</div>
<%= render 'admin_user/admin_footer' %>



