<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome</title>


<%= stylesheet_link_tag    "admin_user", :media => "all" %>
<%= javascript_include_tag 'application' %>

<%= csrf_meta_tags %>






</head>

<body>
	<div id="wrapper">
    	<!--  Header start-->
    	<div id="header">
        	        	
        	 <%= image_tag("/assets/admin-images/logo.png", alt: "CPC logo", class: 'logo') %>
        	
        	
        	<% if session[:admin_user_id] %>
        	
            <div class="headerright">
            	<!--  Top serch sec start-->
            	<div class="tpsrc"></div>
                
            <!--  Top menu start-->
                <div class="tpmenu">                	                  
                  
					
						<%=  link_to "Home", {:controller => "AdminUser", :action => "index"}, :class => "active" %>
												
						<%=  link_to "Offers",	"/admin/offers"  %>
						<%= link_to "Users", "/admin/members"  %>
						<%= link_to "Categories", :controller => "categories", :action => "index"  %>
						<%= link_to "User Credits", :controller => "credits_withdraw", :action => "list"  %>													                                      				
                    
					<script>
                    gooeymenu.setup({id:'gooeymenu1', selectitem:0})
                    </script>                    
                </div>
                 <div class="tpmenu-rht"><strong>Welcome Admin!</strong><img src="images/user-icon.png" alt="" class="imgsz"/>
                    	<%= link_to "Log out", log_out_path %>
				</div>
            </div>
            <% end %>
            
            
            
            
        </div>
        <!--  Header End-->