<!DOCTYPE html>
<html>
<head>
  <title>Cpc</title>
 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<!--  Header start-->
		<div id="header">
			
			<%= link_to image_tag("/assets/front-end-images/logo.png", alt: "CPC Advertising"), 'http://rubyonrails.org/' %>

			<div class="headerright">
				<!--  Top serch sec start-->
				<div class="tpsrc">
					<div id="user_nav">
											<% if current_user %>
						    Signed in as <strong><%= current_user.name %></strong>!
						    <%= link_to "Sign out", signout_path, id: "sign_out" %>
						<% else %>
							
							<% if current_admin_user %>
							
							<% else %>
							
							<div class="srctxt">Already Member? <span>Login here:</span></div>
							<div class="tpfrmsec">
								<input name="" type="text" class="headtopinput" /> 
								<input name="" type="text" class="headtopinput" /> 
								<input name="" type="button" class="tplogin" value="Login" />
							</div>

							<% end %>						
						
						
							
						<% end %>
						
					</div>
				
				
					
				</div>
				
				<!--  Top menu start-->
				<div class="tpmenu">
					<a href="#" title="Home" class="active">Home</a>
						<a href="#" title="PROMOTE OFFERS">PROMOTE OFFERS</a>
						<a href="#" title="LIST AN OFFER">LIST AN OFFER</a>
						<a href="#" title="YOUR OFFERS">YOUR OFFERS</a>
					
					
					
					
				</div>
			</div>
		</div>
		<!--  Header End-->
		
		
		<%= yield %>
		
		
		<!--  Footer Start-->
		<div id="footer">
			All Rights Reserved Copyright © 2012
			<div class="sntoolboxbt">
				<a title="Follow Us on Facebook" href="#" target="_blank">
					<span class="facebook"></span>
				</a>
				<a title="Twitter" href="#" target="_blank">
					<span class="twitter"></span>
				</a>

			</div>
		</div>
	</div>

</body>
</html>
