<%= render 'admin_user/admin_header' %>

<%= render 'admin_user/admin_lhs' %>

<div class="rhscontent">


<h1>List of users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>   
    <th>Country</th>
    <th>Account Type</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |member| %>
  <tr>
    <td><%= member.username %></td>
    <td><%= member.email %></td>    
    <td><%= Country.getcountryname(member.country_id).country %></td>
    <td><%= member.provider %></td>
    <td>
    	<% if member.status %>
    	 Active
    	<% else %>
    	 Inactive
    	<% end %>        	    
    </td>
   <!-- <td><%= link_to 'Show', member %></td>  -->     
  </tr>
<% end %>
	<tr>
		<td colspan="5"></td>
	</tr>
	<tr>
		<td colspan="5" align="right"><%= paginate @results %></td>
	</tr>
</table>

</div>



</div>
<%= render 'admin_user/admin_footer' %>
