<%= render 'home/header' %>
	<div class="mainfrmcontainer">
		<%= render 'home/lhs' %>
		<div class="rhs">
        	<% if  flash[:member_setting_update_notice] %>
			    <%= flash[:member_setting_update_notice] %>
			<% end %>	
			<div style="float: left;">
				<%= form_tag("/updateMemberSettings", :method => "post") do  %>		   		
					<p>
				      	<%= label_tag :Password %><br />
				       	<%= password_field_tag :password %>
		      		</p>
					<p>
				      	<%= label :password_confirmation, "Confirm Password" %><br />
      					<%= password_field_tag :password_confirmation %>
		      		</p>
		      		<p>
		      			<%= label_tag :country, "Country" %><br />
		      			<%= select_tag "country_id", options_from_collection_for_select(Country.all.collect, "id", "country", @member_details.country_id) , {:prompt => 'Select Country'} %>
		      		</p> 
					<p>							
				    <%= submit_tag "Update",  :class => 'tplogin' %>
				    </p>								
				<% end %>
			</div>
        </div>
	</div>
<%= render 'home/footer' %>