<script type="text/javascript">
	function toggleShareLinkDiv(divId) {
		$('#'+divId).toggle('slow');
	}
</script>
<%= render 'home/header' %>
	<div class="mainfrmcontainer">
		<%= render 'home/lhs' %>
		<div class="rhs">
        	<% if  flash[:member_setting_update_notice] %>
			    <%= flash[:member_setting_update_notice] %>
			<% end %>	
			
			
			
			<div style="float: left;">
				<%= form_tag("/updateMemberSettings", :method => "post") do  %>		
				
				<%
				
					objMember = Member.new
    				member_data = objMember.getMemberDataById(session[:user_id])  
					
					if member_data.provider =="CPC"
				
				%>
					<p>
				      	<%= label_tag :Password %><br />
				       	<%= password_field_tag :password %>
		      		</p>
					<p>
				      	<%= label :password_confirmation, "Confirm Password" %><br />
      					<%= password_field_tag :password_confirmation %>
		      		</p>
				<%
					end
				%>				   
		      		<p>
		      			<%= label_tag :country, "Country" %><br />
		      			<%= select_tag "country_id", options_from_collection_for_select(Country.all.collect, "id", "country", @member_details.country_id) , {:prompt => 'Select Country'} %>
		      		</p> 
					<p>							
				    <%= submit_tag "Update",  :class => 'tplogin' %>
				    </p>								
				<% end %>
					<br />
					<% if  flash[:cw_update_notice] %>
			    		<%= flash[:cw_update_notice] %>
					<% end %>	
					<%
						credits = getcredit(session[:user_id]) 
						
						if credits > -1
					%>
								
						Credits: <%= credits %>
						<br/>					
						<%
							@withdrawcredits = CreditsWithdraw.find_by_members_id(session[:user_id])		
							if @withdrawcredits.email_verification == FALSE
						%>		
								Your email <%= @withdrawcredits.paypal_email %> is not verified yet. Please verify your email to get credits.								
						<%
							else
						%>		
								Your email <%= @withdrawcredits.paypal_email %> is  verified.
						<%	end					
						%>	
						
						<%= tag "input", { "type" => "button", "value" => "WithDraw Credits to Cash", "onclick" => "toggleShareLinkDiv('withdrawCash')" } %>
					
						<div id="withdrawCash" style="display: none">						
							<%= form_tag("/withDrawCash", :method => "post") do  %>							
								<%= label_tag 'email', 'Enter paypal email:' %>
								<%= text_field_tag :email, params[:email] %>						
								<%= submit_tag "Submit",  :class => 'tplogin' %>					
							<% end %>
				   		</div>
						
					<% end %>
					
					
			</div>
        </div>
	</div>
<%= render 'home/footer' %>